---
import Chat from '../components/TheChat.vue';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <Chat client:only="vue" />
  </body>
</html>
